{% extends "base.html" %}

{% block content %}
<h1>Sendme</h1>
<noscript>
	JavaScript is disabled. There will be no indication of upload progress.
</noscript>
<form action="/upload" method="POST" enctype="multipart/form-data" id="form">
	<label for="data">
		<p>
			{% match mode %}
				{% when ModeTag::MultipleFiles %}
				Select file(s) to upload:
				{% when ModeTag::SingleFile %}
				Select a file to upload:
				{% when ModeTag::Text %}
				Enter text:
			{% endmatch %}
		</p>
		{% if mode == ModeTag::Text %}
			<textarea id="data" name="data"></textarea>
		{% else %}
			<input type="file" id="data" name="data"{% if mode == ModeTag::MultipleFiles %} multiple{% endif %}>
		{% endif %}
	</label>
	<p>
		<button type="submit">
			{% if mode == ModeTag::Text %}
				Submit
			{% else %}
				Upload
			{% endif %}
		</button>
	</p>
</form>
<p id="error"></p>
<section id="progress-container">
	<p>
		<progress id="progress" max="1">Uploading...</progress>
	</p>
	<p id="stats">
		<code>
			<span id="current">0 B</span>/<span id="max">0 B</span>
		</code>
		<code>
			<span id="rate">0 B</span>/s
			eta
			<span id="eta">0:00</span>
		</code>
	</p>
</section>
{% if mode != ModeTag::Text %}
	<script>
		const uploadLimit = {{ limit }};
	</script>
	<script src="/upload.js"></script>
{% endif %}
{% endblock %}
